pool:
  name: LocalPool

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
  displayName: 'Set up Python'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    pip install snyk
    snyk auth $(SNYK_TOKEN)
    snyk test --severity-threshold=high
  displayName: 'Run Snyk SAST scan'
